# PyTorch
torch>=2.0.0
torchvision
torchaudio

# Transformers
transformers>=4.35.0
datasets>=2.14.0
accelerate>=0.24.0
sentencepiece  # для T5 токенизатора

# Training
wandb  # логирование экспериментов
evaluate  # метрики
sacrebleu  # BLEU score

# Data
pandas
numpy
scikit-learn
tqdm

# Utils
pyyaml
